<h1>L'ensemble de l'équipe <b><u>GreenWalk</u></b> est désolé de vous informer qu'une GreenWalk vient d'être annulée</h1>
<br><br>
La GreenWalk qui vient d'être annulé est la suivante : <b>{{ greenwalk }}</b>
<br>
<br>
Elle aurait dû avoir lieu le {{ date }} à {{ hour }} à {{ city }} dans le {{ zipcode }}.
<br>
<br>
N'hésitez pas à retourner voir si une nouvelle GreenWalk pourrait vous interresser.
<br>
<br>
L'ensemble de l'équipe <u>GreenWalk</u> vous présente ses excuses.
