<h1>L'ensemble de l'équipe <b><u>GreenWalk</u></b> est contente de vous voir participer à un GreenWalk</h1>
<br><br>
Nous vous informons que vous participez à la greenwalk suivante : <b>{{ greenwalk }}</b>
<br>
<br>
Elle aura lieu le {{ date }} à {{ hour }} à {{ city }} dans le {{ zipcode }}.
<br>
<br>
Au cas où vous vous perdez, ou vous ne trouvez pas la rue exacte, celle-ci est : " <u>{{ street }}</u> ".
<br>
<br>
Amusez-vous bien =)
